.note-card-container {
  border: 4px solid orangered;
  border-radius: 20px;
  width: 340px;
  display: flex;
  min-height: 250px;
  flex-direction: column;
  line-height: 0.5;
  padding: 10px 20px;
  .note-card-title {
    font-size: 20px;
    line-height: 1;
  }
  .note-card-date {
    font-size: 11px;
    line-height: 1;
  }
  .note-card-body {
    font-size: 15px;
    line-height: 1;
  }
  .see-details {
    font-style: italic;
  }
}
