.navbar-rattan-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  // background-color: #4eff8f;
  color: white;
  align-items: center;
  transition: all 500ms ease;
  background-color: transparent;
}

.navbar-rattan-container.change-scroll {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  color: white;
  align-items: center;
  transition: all 500ms ease;
  // background-color: rgb(99, 73, 60);
}

.navbar-rattan-logo {
  height: 50px;
  width: 100%;
  margin: auto 0;
  display: flex;
  align-items: center;

  .logo-container {
    height: 50px;
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(37, 35, 35);
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: all 400ms ease;
    margin-left: -10px;
    .logo-img {
      height: 100%;
    }
    span {
      margin-left: 15px;
      font-size: 20px;
      color: white;
      transition: all 800ms ease;
    }
  }

  .logo-container.change-scroll {
    padding: 0;
    background-color: transparent;
    transition: all 800ms ease;
    .logo-img {
      height: 100%;
    }
    span {
      display: none;
      transition: all 400ms ease;
    }
  }

  .logo-rattan {
    font-size: 20px;
    color: white;
    line-height: 1;
    transition: all 800ms ease;
  }
}

.nav-rattan-links {
  width: 50%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: flex-end;

  span {
    cursor: pointer;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.nav-rattan-link {
  padding: 10px 15px;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    display: flex;
    font-size: 20px;
    margin: 0px 15px;
    padding: 0px 0px;
    color: white;
    font-weight: 800;
  }
}

.navbar-rattan-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  // background-color: antiquewhite;
  border-radius: 8px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.navbar-rattan-menu-icon {
  // color: var(--color-primary-variant);
  color: rgb(32, 26, 23);
  // color: cyan;
  font-size: 3rem;
  font-weight: 800;
  z-index: 100;
}

.navbar-rattan-menu-icon.change-scroll {
  // color: var(--color-primary-variant);
  color: white;
  z-index: 100;
}

.navbar-rattan-responsive-menu {
  position: absolute;
  display: block;
  width: 100%;
  height: max-content;
  background-color: rgb(99, 73, 60);
  top: 0;
  right: 0;
  padding: 4rem 1rem;
  transform: translateY(-390px);
  transition: all 400ms ease;

  /*display: none;*/
}

.navbar-rattan-responsive-menu.menufalse {
  position: absolute;
  width: 100%;
  height: max-content;
  transform: translateY(0);
  background-color: rgb(99, 73, 60);
  top: 0;
  right: 0;
  padding: 6rem 1rem;
  display: block;
  transition: all 400ms ease;
}
.navbar-rattan-responsive-menu > ul {
  list-style-type: none;
}

.navbar-rattan-responsive-menu > ul > li {
  padding: 0.5rem 0;
}

.navbar-rattan-responsive-menu > ul > li > a {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.wa-button {
  position: fixed;
  background-color: green;
  // padding: 20px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  // top: 85vh;
  bottom: 5vh;
  right: 5vw;
  z-index: 50;
  a {
    color: white;
    font-size: 40px;
    margin-top: 6px;
  }
}

.footer-section {
  background-color: rgb(32, 26, 23);
  width: 100%;
  height: 150px;
  color: white;
  // position: absolute;
  display: flex;
  padding: 20px;
  // background-color: #95c2a5;
  .footer-image-container {
    height: 50px;
    img {
      height: 100%;
    }
  }
  .footer-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    line-height: 1;

    .footer-section-end {
      margin: 20px 0;
    }
  }
}
