.whole-note-container {
  p {
    margin: 0;
  }
  .whole-note-body {
    margin: 30px auto 60px auto;
    font-size: 20px;
  }
  .whole-note-button-item {
    background-color: orangered;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
  }
  .whole-note-button-item-back {
    border: 4px solid orangered;
    font-size: 30px;
    color: orangered;
    padding: 3px 18px;
    margin-right: 10px;
    border-radius: 15px;
    margin-right: 15px;
    border-radius: 15px;
  }
}
