.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  margin-top: -70px;
  line-height: 0.5;

  .home-section-one {
    display: flex;

    .home-category {
      margin: 5px 10px;
      margin-top: 20px;

      .sign-out-text {
        margin: 0;
        cursor: pointer;
      }
    }
  }
}
